.row{
    margin-left: 20px;
}
.movies{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;


}
.movies::-webkit-scrollbar{
    display: none;
}
.movie{
    max-height: 150px;
    width: 100%;
   margin-right: 10px;
}
.movie:hover{
    transform: scale(1.10);
}